.pay-bd{
    width: 100%;
    height: 1199px;
    border-top: 1px dotted rgba(191,191,191,1);
    padding-top: 60px;
    padding-bottom: 100px;
}
.pay-bd-main{
    width:1010px;
    height: 100%;
    margin: 0 auto;
}
.pay-title{
    padding-bottom: 35px;
    width: 100%;
    height:54px;
}
.pay-title-c{
    font-size:26px;
    color:#000000;
    font-family:宋体;
    font-weight: 700;
    line-height: 28px;
}
.pay-title-e{
    font-size:14px;
    color:#A9A9A9;
    font-family:times new roman;
    line-height: 26px;
}
.pay-content{
    padding-top: 20px;
    width: 1010px;
    height: 260px;
}
.con-title{
    font-size:13px;
    font-family:宋体;
    color:#696969;
    line-height: 26px;
}
.pay-content .blank{
width: 1010px;
height: 26px;
}
